body {
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}
.hidden {
	display: none;
}
.app h1 {
	width: 100%;
    padding:6px;
	font-size: 50px;
	font-weight: 100;
	text-align: left;
	color: #83bc25;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}
.holder {
	background-color:#DDDDDD;
	min-height:100px !important;
	line-height: 100px;
	width:100%;
	display: block;
	margin-bottom:20px;
}
.square {
	background-color:#FFFFFF;
	min-height:100px !important;
	line-height: 100px;
	width:100%;
	text-align:center;
}
